/* @charset "UTF-8";
* {margin:0;padding:0;vertical-align:middle;}

html,body {width:100%;height:100%;}


a {color:#444;text-decoration:none;}
table {border-collapse:collapse;}

ul,li {list-style:none;}

input {border: none;}
button {border: none;} */

@charset "UTF-8";

 

/* �뀒�몢由ш린以� */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

  font-family: "Malgun Gothic", serif;
  background: #ffffff;
  color: #4c4c4c;

}

.cf:after {
  content: " ";
  display: block;
  clear: both;
}

ol, ul, li, dl {
  display: none;
}

a {
  color:#444;
  text-decoration: none;
}

/* �뀓�뒪�듃 */

h1 {
  visibility: hidden;
}

/* �뀒�씠釉� */

table {
  border-collapse: collapse;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button{
  background: inherit;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
}
  