<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adminSelectAllNovel">
     	SELECT /* com.lastbug.firstbook.admin.webnovel.model.dao.AdminWebNovelDAO#adminSelectAllNovel()*/
               A.WEB_NOV_NUM
             , A.WEB_NOV_TITLE
             , A.WEB_NOV_AUTHOR
             , A.WEB_NOV_INFORM
             , A.CATEGORY_CODE
             , A.WEB_NOV_PUBLISHER
             , A.DAY_OF_WEEK
             , A.WEB_NOV_IMG_LOCATION
             , A.FINISHED_OR_NOT
             , A.WEB_NOV_OPEN_OR_CLOSE
          FROM WEB_NOV_INFO A
	</entry>
	<entry key="insertNewWebnovel">
	    INSERT 
	      INTO WEB_NOV_INFO A
             (
               A.WEB_NOV_NUM
             , A.CATEGORY_CODE
             , A.WEB_NOV_TITLE
             , A.WEB_NOV_AUTHOR
             , A.WEB_NOV_PUBLISHER
             , A.WEB_NOV_INFORM
             , A.WEB_NOV_IMG_LOCATION
             , A.DAY_OF_WEEK
             , A.WEB_NOV_OPEN_OR_CLOSE
         	 )
             VALUES
            (  
               SEQ_WEB_NOV_INFO.NEXTVAL
             , ?
             , ?
             , ?
             , ?
             , ?
             , ?
             , ?
             , ?
            )
	</entry>

</properties>








































