<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAllNoticeList">
        SELECT /* com.greedy.jsp.notice.model.dao.NoticeDAO#selectAllNoticeList(); */
               A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , B.NICKNAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
          FROM TBL_NOTICE A
          JOIN TBL_MEMBER B ON (A.NOTICE_WRITER_MEMBER_NO = B.MEMBER_NO)
         WHERE A.NOTICE_STATUS = 'Y'
         ORDER BY A.NOTICE_NO DESC
	</entry>
	<entry key="insertNotice">
        INSERT /* com.greedy.jsp.notice.model.dao.NoticeDAO#insertNotice(); */
          INTO TBL_NOTICE A
         (
           A.NOTICE_NO
         , A.NOTICE_TITLE
         , A.NOTICE_BODY
         , A.NOTICE_WRITER_MEMBER_NO
         )
         VALUES
         (
           SEQ_NOTICE_NO.NEXTVAL
         , ?
         , ?
         , ?
         )         
	</entry>
	<entry key="incrementNoticeCount">
        UPDATE	/* com.greedy.jsp.notice.model.dao.NoticeDAO#incrementNoticeCount(); */
               TBL_NOTICE A
           SET A.NOTICE_COUNT = (SELECT B.NOTICE_COUNT       
                                   FROM TBL_NOTICE B
                                  WHERE NOTICE_NO = ?
                                 ) + 1
         WHERE A.NOTICE_NO = ?
	</entry>
	
	<entry key="selectNoticeDetail">
        SELECT /* com.greedy.jsp.notice.model.dao.NoticeDAO#seletNoticeDetail(); */
               A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , B.NICKNAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
          FROM TBL_NOTICE A
          JOIN TBL_MEMBER B ON (A.NOTICE_WRITER_MEMBER_NO = B.MEMBER_NO)
         WHERE A.NOTICE_STATUS = 'Y'
           AND A.NOTICE_NO = ?
	</entry>
	<entry key="updateNotice">
	    UPDATE TBL_NOTICE
   	       SET NOTICE_TITLE = ?
             , NOTICE_BODY = ?
         WHERE NOTICE_NO = ?
	</entry>

</properties>








































