<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
	    INSERT 
	      INTO MEM_INFO A
	    (
	      MEM_NUM
	    , MEM_NAME
	    , MEM_ID
	    , MEM_PWD
	    , MEM_EMAIL
	    , MEM_ADDRESS
	    , MEM_BIRTHDATE
	    , MEM_WITHDRAW_DATE
	    , MEM_CLASS
	    , MEM_BLOCK_DATE
	    , MEM_ENROLL_DATE
	    )
	    VALUES
	    (
	      SEQ_MEM_NO.NEXTVAL
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , NULL
	    , '회원'
	    , NULL
	    , SYSDATE
	    )
	</entry>
	<entry key="idCheck">
	    SELECT
	           A.MEM_ID
	      FROM MEM_INFO A
	     WHERE A.MEM_ID = ?
	</entry>
	<entry key="selectLoginMember">
	    SELECT
		       A.MEM_NUM
		     , A.MEM_NAME
		     , A.MEM_ID
		     , A.MEM_PWD
		     , A.MEM_EMAIL
		     , A.MEM_ADDRESS
		     , A.MEM_BIRTHDATE
		     , A.MEM_LOGIN_COUNT
		     , A.MEM_COIN
		     , A.MEM_CAN_VOTE_YN
		     , A.MEM_WITHDRAW_YN
		     , A.MEM_WITHDRAW_DATE
		     , A.MEM_CLASS
		     , A.MEM_BLOCK_YN
		     , A.MEM_BLOCK_DATE
		     , A.MEM_ENROLL_DATE
		     , A.MEM_WEEKLY_COIN_YN
		  FROM MEM_INFO A
		 WHERE A.MEM_WITHDRAW_YN = 'N'
		   AND A.MEM_ID = ?
	</entry>
	<entry key="selectEncryptedPwd">
	    SELECT
	           A.MEM_PWD
	      FROM MEM_INFO A
	     WHERE A.MEM_WITHDRAW_YN = 'N'
	       AND A.MEM_ID = ?
	</entry>

	<entry key="selectUseCoin">
		SELECT
		       A.COIN_USE_NUM
		     , A.WEB_NOV_NUM
		     , A.MEM_NUM
		     , A.COIN_USE_DATE
		     , A.COIN_USAGE
		     , A.CHAPTER_NUM
		     , C.CATEGORY_CODE
		     , C.WEB_NOV_TITLE
		     , C.WEB_NOV_AUTHOR
		     , C.CHAP_PER_COIN
		     , C.WEB_NOV_PUBLISHER
		     , C.WEB_NOV_INFORM
		     , C.WEB_NOV_IMG_LOCATION
		     , C.DAY_OF_WEEK
		     , C.WEB_NOV_OPEN_OR_CLOSE
		     , C.FINISHED_OR_NOT
		  FROM COIN_USE_HIS A
		  JOIN WEB_NOV_INFO C ON (C.WEB_NOV_NUM = A.WEB_NOV_NUM)
		 WHERE A.MEM_NUM = ?
		   AND C.WEB_NOV_OPEN_OR_CLOSE = 'Y'
		 ORDER BY A.COIN_USE_DATE DESC
	</entry>


	<entry key="searchWebNovelCount">
	    SELECT
               COUNT(*)
          FROM WEB_NOV_CONTENT_DETAIL
         WHERE WEB_NOV_NUM = ?
           AND CHAP_NUM = ?
	</entry>
	<entry key="updateMember">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_NAME = ?
		     , A.MEM_PWD = ?
		     , A.MEM_EMAIL = ?
		     , A.MEM_ADDRESS = ?
		     , A.MEM_BIRTHDATE = ?
		 WHERE A.MEM_ID = ?
	</entry>
	<entry key="deleteMember">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_WITHDRAW_YN = 'Y'
		     , A.MEM_WITHDRAW_DATE = SYSDATE
		 WHERE A.MEM_ID = ?
	</entry>
	<entry key="selectWishlist">
		SELECT
		       A.WEB_NOV_NUM
		     , A.MEM_NUM
		     , A.WISHLIST_DATE
		     , B.CATEGORY_CODE
		     , B.WEB_NOV_TITLE
		     , B.WEB_NOV_AUTHOR
		     , B.CHAP_PER_COIN
		     , B.WEB_NOV_PUBLISHER
		     , B.WEB_NOV_INFORM
		     , B.WEB_NOV_IMG_LOCATION
		     , B.DAY_OF_WEEK
		     , B.WEB_NOV_OPEN_OR_CLOSE
		     , B.FINISHED_OR_NOT
		  FROM WISH_LIST A
		  JOIN WEB_NOV_INFO B ON (B.WEB_NOV_NUM = A.WEB_NOV_NUM)
		 WHERE A.MEM_NUM = ?
		   AND B.WEB_NOV_OPEN_OR_CLOSE = 'N'
		 ORDER BY A.WISHLIST_DATE DESC
	</entry>
	<entry key="incrementLoginCount">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_LOGIN_COUNT = MEM_LOGIN_COUNT + 1
		 WHERE A.MEM_ID = ?
	</entry>
	<entry key="incrementFreeCoin">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_COIN = A.MEM_COIN + 20
		   	 , A.MEM_WEEKLY_COIN_YN = 'N'
		 WHERE A.MEM_NUM = ?
	</entry>
	<entry key="selectMember">
		SELECT
		       A.MEM_NUM
		     , A.MEM_NAME
		     , A.MEM_ID
		     , A.MEM_PWD
		     , A.MEM_EMAIL
		     , A.MEM_ADDRESS
		     , A.MEM_BIRTHDATE
		     , A.MEM_LOGIN_COUNT
		     , A.MEM_COIN
		     , A.MEM_CAN_VOTE_YN
		     , A.MEM_WITHDRAW_YN
		     , A.MEM_WITHDRAW_DATE
		     , A.MEM_CLASS
		     , A.MEM_BLOCK_YN
		     , A.MEM_BLOCK_DATE
		     , A.MEM_ENROLL_DATE
		     , A.MEM_WEEKLY_COIN_YN
		  FROM MEM_INFO A
		 WHERE A.MEM_WITHDRAW_YN = 'N'
		   AND A.MEM_NUM = ?
	</entry>
	<entry key="selectTotalCount">
		SELECT
		       COUNT(*)
		  FROM NOTICE A
		 WHERE A.NOTICE_STATUS = 'Y'
	</entry>
	<entry key="selectNoticeList">
		SELECT
		       A.RNUM
		     , A.NOTICE_NUM
		     , A.NOTICE_DATE
		     , A.NOTICE_NAME
		     , A.NOTICE_VIEW_COUNT
		     , A.NOTICE_CONTENT
		     , A.NOTICE_STATUS
		  FROM (SELECT ROWNUM RNUM
		             , B.NOTICE_NUM
		             , B.NOTICE_DATE
		             , B.NOTICE_NAME
		             , B.NOTICE_VIEW_COUNT
		             , B.NOTICE_CONTENT
		             , B.NOTICE_STATUS
		          FROM (SELECT C.NOTICE_NUM
				             , C.NOTICE_DATE
				             , C.NOTICE_NAME
				             , C.NOTICE_VIEW_COUNT
				             , C.NOTICE_CONTENT
				             , C.NOTICE_STATUS
				          FROM NOTICE C
				         WHERE C.NOTICE_STATUS = 'Y'
				         ORDER BY C.NOTICE_NUM DESC
		               ) B
		       ) A
		 WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="incrementNoticeCount">
		UPDATE
			   NOTICE A
		   SET A.NOTICE_VIEW_COUNT = (SELECT B.NOTICE_VIEW_COUNT
								   FROM NOTICE B
 								  WHERE B.NOTICE_NUM = ?
 								) + 1
		 WHERE A.NOTICE_NUM = ?
	</entry>
	<entry key="selectNoticeDetail">
		SELECT
		       A.NOTICE_NUM
		     , A.NOTICE_DATE
		     , A.NOTICE_NAME
		     , A.NOTICE_VIEW_COUNT
		     , A.NOTICE_CONTENT
		     , A.NOTICE_STATUS
		  FROM NOTICE A
		 WHERE A.NOTICE_NUM = ?
	</entry>
	<entry key="selectFAQTotalCount">
		SELECT
		       COUNT(*)
		  FROM FAQ A
	</entry>
	<entry key="selectFAQList">
		SELECT
		       A.RNUM
		     , A.POST_NUM
		     , A.FAQ_POST_TITLE
		     , A.FAQ_POST_CONTENT
		  FROM (SELECT ROWNUM RNUM
		             , B.POST_NUM
		             , B.FAQ_POST_TITLE
		             , B.FAQ_POST_CONTENT
		          FROM (SELECT C.POST_NUM
				             , C.FAQ_POST_TITLE
				             , C.FAQ_POST_CONTENT
				          FROM FAQ C
				         ORDER BY C.POST_NUM DESC
		               ) B
		       ) A
		 WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectFaqDetail">
		SELECT
		       A.POST_NUM
		     , A.FAQ_POST_TITLE
		     , A.FAQ_POST_CONTENT
		  FROM FAQ A
		 WHERE A.POST_NUM = ?
	</entry>
</properties>








































