<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
	    INSERT 
	      INTO MEM_INFO A
	    (
	      MEM_NUM
	    , MEM_NAME
	    , MEM_ID
	    , MEM_PWD
	    , MEM_EMAIL
	    , MEM_ADDRESS
	    , MEM_BIRTHDATE
	    , MEM_WITHDRAW_DATE
	    , MEM_CLASS
	    , MEM_BLOCK_DATE
	    , MEM_ENROLL_DATE
	    )
	    VALUES
	    (
	      SEQ_MEM_NO.NEXTVAL
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , NULL
	    , '회원'
	    , NULL
	    , SYSDATE
	    )
	</entry>
	<entry key="idCheck">
	    SELECT
	           A.MEM_ID
	      FROM MEM_INFO A
	     WHERE A.MEM_ID = ?
	</entry>
	<entry key="selectLoginMember">
	    SELECT
		       A.MEM_NUM
		     , A.MEM_NAME
		     , A.MEM_ID
		     , A.MEM_PWD
		     , A.MEM_EMAIL
		     , A.MEM_ADDRESS
		     , A.MEM_BIRTHDATE
		     , A.MEM_LOGIN_COUNT
		     , A.MEM_COIN
		     , A.MEM_CAN_VOTE_YN
		     , A.MEM_WITHDRAW_YN
		     , A.MEM_WITHDRAW_DATE
		     , A.MEM_CLASS
		     , A.MEM_BLOCK_YN
		     , A.MEM_BLOCK_DATE
		     , A.MEM_ENROLL_DATE
		     , A.MEM_WEEKLY_COIN_YN
		  FROM MEM_INFO A
		 WHERE A.MEM_WITHDRAW_YN = 'N'
		   AND A.MEM_ID = ?
	</entry>
	<entry key="selectEncryptedPwd">
	    SELECT
	           A.MEM_PWD
	      FROM MEM_INFO A
	     WHERE A.MEM_WITHDRAW_YN = 'N'
	       AND A.MEM_ID = ?
	</entry>

	<entry key="selectUseCoin">
		SELECT
		       A.COIN_USE_NUM
		     , A.WEB_NOV_NUM
		     , A.MEM_NUM
		     , A.COIN_USE_DATE
		     , A.COIN_USAGE
		     , A.CHAPTER_NUM
		     , C.CATEGORY_CODE
		     , C.WEB_NOV_TITLE
		     , C.WEB_NOV_AUTHOR
		     , C.CHAP_PER_COIN
		     , C.WEB_NOV_PUBLISHER
		     , C.WEB_NOV_INFORM
		     , C.WEB_NOV_IMG_LOCATION
		     , C.DAY_OF_WEEK
		     , C.WEB_NOV_IS_OPEN
		     , C.FINISHED_OR_NOT
		  FROM COIN_USE_HIS A
		  JOIN WEB_NOV_INFO C ON (C.WEB_NOV_NUM = A.WEB_NOV_NUM)
		 WHERE A.MEM_NUM = ?
		   AND C.WEB_NOV_IS_OPEN = 'N'
		 ORDER BY A.COIN_USE_DATE DESC
	</entry>


	<entry key="searchWebNovelCount">
	    SELECT
               COUNT(*)
          FROM WEB_NOV_CONTENT_DETAIL
         WHERE WEB_NOV_NUM = ?
           AND CHAP_NUM = ?
	</entry>
	<entry key="updateMember">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_NAME = ?
		     , A.MEM_PWD = ?
		     , A.MEM_EMAIL = ?
		     , A.MEM_ADDRESS = ?
		     , A.MEM_BIRTHDATE = ?
		 WHERE A.MEM_ID = ?
	</entry>
	<entry key="deleteMember">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_WITHDRAW_YN = 'Y'
		     , A.MEM_WITHDRAW_DATE = SYSDATE
		 WHERE A.MEM_ID = ?
	</entry>
	<entry key="selectWishlist">
		SELECT
		       A.WEB_NOV_NUM
		     , A.MEM_NUM
		     , A.WISHLIST_DATE
		     , B.CATEGORY_CODE
		     , B.WEB_NOV_TITLE
		     , B.WEB_NOV_AUTHOR
		     , B.CHAP_PER_COIN
		     , B.WEB_NOV_PUBLISHER
		     , B.WEB_NOV_INFORM
		     , B.WEB_NOV_IMG_LOCATION
		     , B.DAY_OF_WEEK
		     , B.WEB_NOV_IS_OPEN
		     , B.FINISHED_OR_NOT
		  FROM WISH_LIST A
		  JOIN WEB_NOV_INFO B ON (B.WEB_NOV_NUM = A.WEB_NOV_NUM)
		 WHERE A.MEM_NUM = ?
		   AND B.WEB_NOV_IS_OPEN = 'Y'
		 ORDER BY A.WISHLIST_DATE DESC
	</entry>
	<entry key="incrementLoginCount">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_LOGIN_COUNT = MEM_LOGIN_COUNT + 1
		 WHERE A.MEM_ID = ?
	</entry>
	<entry key="incrementFreeCoin">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_COIN = A.MEM_COIN + 20
		   	 , A.MEM_WEEKLY_COIN_YN = 'N'
		 WHERE A.MEM_NUM = ?
	</entry>
	<entry key="selectMember">
		SELECT
		       A.MEM_NUM
		     , A.MEM_NAME
		     , A.MEM_ID
		     , A.MEM_PWD
		     , A.MEM_EMAIL
		     , A.MEM_ADDRESS
		     , A.MEM_BIRTHDATE
		     , A.MEM_LOGIN_COUNT
		     , A.MEM_COIN
		     , A.MEM_CAN_VOTE_YN
		     , A.MEM_WITHDRAW_YN
		     , A.MEM_WITHDRAW_DATE
		     , A.MEM_CLASS
		     , A.MEM_BLOCK_YN
		     , A.MEM_BLOCK_DATE
		     , A.MEM_ENROLL_DATE
		     , A.MEM_WEEKLY_COIN_YN
		  FROM MEM_INFO A
		 WHERE A.MEM_WITHDRAW_YN = 'N'
		   AND A.MEM_NUM = ?
		   AND A.MEM_WEEKLY_COIN_YN = 'Y'
	</entry>
	<entry key="updateFreeCoinYn">
		UPDATE
		       MEM_INFO A
		   SET A.MEM_WEEKLY_COIN_YN = 'Y'
		 WHERE A.MEM_NUM = ?
	</entry>
	<entry key="updateWishList">
        INSERT
          INTO WISH_LIST
          (
            WEB_NOV_NUM, MEM_NUM, WISHLIST_DATE
          )
        VALUES
          (
            ?, ?, SYSDATE
          )		
	</entry>
</properties>








































