# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Clientes-hoon\Desktop\development\SEMI2\DB\.idea/dataSources/
/dataSources.local.xml
